language: node_js
node_js:
- '0.10'
services: mongodb
before_install: cd mean && npm install -g grunt-cli && npm install -g bower
install: npm install
script: grunt build 
before_script: cd ui && npm install && bower install && grunt build
deploy:
  app: mean-test-taran
  provider: heroku
  api_key:
    secure: Val3lVnIvuZH7jQlhgy2vj7IvSeph7SMUXDRuHvg7wZdhuwcGX1mjYLSMhD2E5usk/Fiko98s5/dVl1MRhEpvU7USXKxwjD5WERdcHeQ/F9RLQZyN5lB8i3+QuyM98PywoHNaBr5W3BjyDEDL4IXM0gb5L3YEFk5O5g0XoU4Uh0=
