<div class="container content-panel">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Welcome to INFLO! This is a service that compares county data across the United States.</p>
        </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-uppercase"><span class="glyphicon glyphicon-search"></span> Search for a county</h3>
                    <p class="text-muted small">Search the national databases for the county information you are interested in viewing.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-uppercase"><span class="glyphicon glyphicon-eye-open"></span> View the score</h3>
                    <p class="text-muted small">Take a look at the county's <strong>INFLO Rating</strong> and compare the results to the national average.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-uppercase"><span class="glyphicon glyphicon glyphicon-list"></span> Explore the details</h3>
                    <p class="text-muted small">Access additional ratings and details on different aspects of the county.</p>
                </div>
            </div>
    </div>
  </div>